.navbar1 {
    margin: 1%;
    
}

.navbarLogo {
    height :100%;
    
    
    /* width : 80%, */
    
}
.navbarcollapse{
    background-color: #212529;
    
}

.barsize{
    margin: 1px;
}

.navbarImg {
    height :100%;
}

.logout_button {
    margin-top: 5%;
    margin-left: 10px;
}