.slider {
  width: 1024px; 
  height: 53vh;
  position: relative;
  overflow: hidden;
}

/* .slider {
  width: 100%;
  height: 500px;
} */

@media only screen and (max-width: 576px) {
  .slider {
    height: 220px;
    width: 320px; 
    /* justify-content: center;
    display: flex;
    align-items: center; */
    
  }
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 93%;
  height: 80%;
  opacity: 0;
  transform: translateX(-50%);
  transition: all 0.5s ease;
}

@media only screen and (max-width: 576px) {
  .slider img {
    width: 50%;
    height: 50%;
  }
}

@media screen and (min-width: 600px) {
  .slide img {
    width: 100%;
    height: 100%;
  }
}

.slide img {
  width: 100%;
  height: 100%;
}

.current {
  opacity: 1;
  transform: translateX(0);
}

.content {
  position: absolute;
  top: 23rem;
  left: 5rem;
  opacity: 0;
  width: 50%;
  color: #fff;
  padding: 3rem;
  background: rgba(0, 0, 0, 0.3);
  animation: slide-up 1s ease 0.5s;
  /* // animation-delay: 1s; */
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes slide-up {
  0% {
    visibility: visible;
    top: 23rem;
  }
  100% {
    visibility: visible;
    top: 14rem;
  }
}

@media only screen and (max-width: 575px) {
  @keyframes slide-up {
    0% {
      visibility: visible;
      top: 5rem;
    }
    100% {
      visibility: visible;
      top: 3rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .content {
    width: 70%;
    height: 60%;
    position: absolute;
    top: 0rem;
    left: 2rem;
    padding: 1rem;
  }

  .content h2 {
    font-size: 15px;
    top: 0;
  }

  .content p {
    font-size: 12px;
    top: 0;
  }

  .content hr {
   margin-bottom: 2px;
    top: 0;
    
  }

  .content button {
    width: 50%;
    height: 30%;
    top: 0;
    padding: 0;
    font-size: 10px;
  }
}

.content > * {
  color: #fff;
  margin-bottom: 1rem;
}

.current .content {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s ease;
}

.arrow {
  border: 2px solid white;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  position: absolute;
  z-index: 999;
}
.arrow:hover {
  background-color: #fff;
  color: #777;
}

.next {
  top: 35%;
  right: 6.0rem;
}
.prev {
  top: 35%;
  left: 1.5rem;
}

@media screen and (max-width: 600px) {
  .next {
    top: 35%;
    right: 2.5rem;
  }

  .prev {
    top: 35%;
    left: 1.0rem;
  }

}

hr {
  height: 2px;
  background: white;
  width: 100%;
}

/* .--btn --btn-primary {
  background-color: red;
} */

